# Azure OpenAI
AZURE_OPENAI_ENDPOINT="https://example.openai.azure.com/"
AZURE_OPENAI_KEY="example-key"
AZURE_OPENAI_API_VERSION="2024-02-01"
AZURE_OPENAI_EMBED_MODEL="text-embedding-3-small"  

# Qdrant configuration
QDRANT_URL="https://example-qdrant-url.europe-west3-0.gcp.cloud.qdrant.io"
QDRANT_API_KEY="example-qdrant-key"
QDRANT_URL_LOCAL="http://localhost:6333"   
QDRANT_COLLECTION="example_collection"
QDRANT_VECTOR_NAME="example_vector_name"
QDRANT_DIM=1536 
QDRANT_THRESHOLD=0.8 

# Cosmos DB for NoSQL (Primary store)
COSMOS_SQL_ENDPOINT="https://example-cosmos.documents.azure.com:443/"
COSMOS_SQL_KEY="example-cosmos-key"
COSMOS_SQL_DB="aipulse-db"
COSMOS_SQL_CONTAINER="stories"

# Azure Key Vault
KEY_VAULT_URL="https://keyvaultaipulse.vault.azure.net/"

# SSL Certificate Path
NODE_EXTRA_CA_CERTS="C:\Certs\zscaler_root_ca.cer"
SSL_CERTIFICATE="example-ssl-certificate"

# Search API (searchapi.io)
SEARCH_API_KEY="example-search-api-key"
SEARCH_API_KEY2="example-search-api-key2"
SEARCH_API_KEY3="example-search-api-key3"

# Nora AI API
NORA_API_URL="https://api.nora.ai/v1"
NORA_API_KEY="example-nora-api-key" 
